@import "/fonts/fonts.css";
@import "/css/reset.css";

body {
  max-width: 1180px;
  margin: 0 auto;
}

main {
  background-color: #fff;
  color: #000;
  font: 1em/1.2 "OpenSans Bold", Arial, sans-serif;
  /*for IE*/
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1.5em;
  font-family: "OpenSans Bold", Arial, sans-serif;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  width: 69%;
  height: 73px;
}

button:hover {
  border: 1px solid #f14a58;
  color: #f14a58;
}
button:focus {
  outline: none;
}

.flex {
  display: flex;
}
.block {
  display: block;
}
.none{
  display: none;
}

header {
  padding: 0 4.62%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin-bottom: 1.93%;
  width: 143px;
  height: 27px;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(/img/startPage/logo-desktop.png) 0 0 no-repeat;
  text-indent: -9999px;
}

.right-block {
  font-family: "Roboto Regular", Arial, sans-serif;
  flex-basis: 24%;
  font-size: 0.75em;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
}

.bag-short-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
}

.bag-short-info::before {
  background: url("/img/icon-basket.jpg") 0 0 no-repeat;
  content: " ";
  display: block;
  min-width: 12px;
  min-height: 12px;
  padding-right: 15px;
}

.bag-short-info span {
  display: block;
}

.hamburger {
  display: none;
}

.wrap-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.07%;
  align-items: baseline;
  justify-content: space-between;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
}

nav {
  margin-right: 8.03%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 74%;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -ms-flex: 1 0 74%;
}

nav a {
  text-transform: capitalize;
  font-size: 0.8125em;
}

nav a:hover {
  color: #f14a58;
}

.search {
  position: relative;
}

input {
  border: none;
  border-bottom: 2px #e5e5e5 solid;
  padding: 4% 0;
  display: block;
  font-family: "OpenSans Bold", Arial, sans-serif;
  font-size: 0.8125em;
  outline: none;
}

.search-input {
  width: 71%;
  margin-left: 29%;
  outline: none;
}

.glass-icon {
  background: url(/img/icon-search.png) 0 0 no-repeat;
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 32%;
  right: 0;
  z-index: 10;
}

input::-moz-placeholder {
  color: #a8a8a8;
}
input::-webkit-input-placeholder {
  color: #a8a8a8;
}
input:-moz-placeholder {
  color: #a8a8a8;
}

.banners {
  display: flex;
  flex-direction: row;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
}

.banner {
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  text-align: center;
}

.banner:last-of-type {
  border-right: none;
}

.banner img {
  width: 100%;
  height: 100%;
}

.banner span {
  font: italic 1em "Times New Roman", sans-serif;
  text-transform: capitalize;
}

.banner h3 {
  font-size: 1.75em;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 3.73%;
}

.banner:nth-of-type(2) h3 {
  margin-bottom: 4%;
}

.banner:nth-of-type(3) h3 {
  color: #f14a58;
  margin-bottom: 4%;
}
.banner span {
  color: #fff;
}

.banner:nth-of-type(3) span{
  color: #757575;
}

.banner-info {
  position: absolute;
  top: 16%;
  right: 14%;
}

.wrap {
  position: relative;
  margin-bottom: 22%;
}

.wrap:hover ~ .product-info>.name {
  color: #f14a58;
}

.main-catalog-shadow, .footer-shadow, .copyright-shadow {
  display: none;
}

.main-catalog-shadow-active, .footer-shadow-active, .copyright-shadow-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
}

.shadow {
  display: block;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.shadow span {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 1.375em;
  color: #f14a58;
  position: absolute;
  top: 45%;
  left: 26%;
}

.shadow:hover {
  opacity: 0.99;
}

.list-items {
  text-align: center;
  align-items: stretch;
  padding: 0 4.62%;
  margin-bottom: 30.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
}

.list-items li {
  position: relative;
  flex-basis: 20%;
  /*for IE*/
  -ms-flex: 1 0 20%;
}

.list-items li::after{
  content: '';
  display: block;
}

.list-items li span {
  padding: 0 4.38%;
}

.list-items img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.list-items .product-name {
  font-weight: bold;
  display: block;
  margin-bottom: 6%;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.8;
  text-transform: capitalize;
}

.list-items .price {
  font-family: "Roboto Regular", serif;
  font-size: 0.875em;
}

footer {
  position: relative;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
  font-family: "Roboto Regular", Arial, sans-serif;
}

footer h4 {
  text-transform: capitalize;
  font-family: "OpenSans Bold", Arial, sans-serif;
}

.quick-links {
  padding-top: 4.62%;
  padding-left: 4.62%;
  padding-bottom: 6.9%;
  border-right: 1px solid #e5e5e5;
  flex-basis: 49%;
  /*for IE*/
  -ms-flex: 1 0 45%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
}

.left-ref-block {
  flex-basis: 40%;
  /*for IE*/
  -ms-flex: 1 0 40%;
}

.right-ref-block {
  margin-right: 15%;
  flex-basis: 40%;
  /*for IE*/
  -ms-flex: 1 0 40%;
}

.quick-links h4 {
  margin-bottom: 23.7%;
}

.quick-links li {
  font-size: 0.875em;
  margin-bottom: 15%;
}

.quick-links a:hover, .legal-ref a:hover {
  text-decoration: underline;
}

.socials {
  padding-top: 4.62%;
  padding-left: 4.62%;
  flex-basis: 49%;
  /*for IE*/
  -ms-flex: 1 0 49%;
}

.socials h4 {
  margin-bottom: 11.6%;
}

.socials ul {
  margin-bottom: 14.5%;
  display: flex;
  flex-direction: row;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
}

.socials ul li {
  flex-basis: 49%;
  /*for IE*/
  -ms-flex: 1 0 49%;
}

.socials .tweet-us {
  font-family: "Roboto Regular", Arial, sans-serif;
}

.socials .tweet-us::before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 11px;
  background: url(/img/startPage/tweeter-icon.png) 0 0 no-repeat;
  margin-right: 5%;
}

.socials a {
  font-family: "Roboto Bold", sans-serif;
}

.socials .order-by-phone {
  font-family: "Roboto Regular", Arial, sans-serif;
  font-size: 0.875em;
}

.socials p {
  font-style: italic;
  font-family: Crimson, serif;
  font-size: 1em;
  width: 57%;
  line-height: 2;
  color: #757575;
  margin-bottom: 12%;
}

.social-ref {
  display: flex;
  flex-direction: row;
}

.social-ref .facebook {
  background: url(/img/startPage/facebook.png) 0 0 no-repeat;
  width: 8px;
  height: 14px;
  display: block;
  flex-basis: 6.17%;
}

.social-ref .tweeter {
  background: url(/img/startPage/tweeter.png) 0 0 no-repeat;
  width: 14px;
  height: 11px;
  display: block;
}

.copyright {
  border-top: 1px solid #e5e5e5;
  padding: 3% 5.18%;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
}

.copyright span {
  font-size: 0.75em;
  font-family: "Roboto Bold", sans-serif;
}

.copyright .center {
  position: absolute;
  left: 50%;
  top: 34%;
  transform: translateX(-50%);
  margin-left: -9px;
}

.center h4 {
  font-size: 1.125em;
  font-family: "OpenSans Bold", Arial, sans-serif;
  display: inline;
  margin-right: 3%;
}

.center .amount-visitors {
  background-color: #f4f4f4;
  padding: 1.5%;
  font-weight: normal;
  font-family: "Roboto Regular", sans-serif;
  position: relative;
}

.copyright .amount-visitors:before {
  content: " ";
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 4px solid transparent;
  border-right: 4px solid #f4f4f4;
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 5px;
  left: -4px;
}

.legal-ref {
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
}

.legal-ref li {
  font-size: 0.75em;
  font-family: "Roboto Bold", sans-serif;
}

.block-mobile {
  display: none;
}
