@import "/css/common-styles.css";

img {
  display: block;
}

.item {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 12.3%;
}

.to-catalog {
  display: block;
  padding: 2.08% 4.62%;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 4.62%;
}

article {
  padding: 0 4.62%;
  display: flex;
  flex-direction: row;
}

.item-photo {
  /*width: 535px;*/
  flex-basis: 53%;
}

.main-photo {
  width: 100%;
}

.preview {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.preview li {
  flex-basis: 33.31%;
  height: 113px;
  position: relative;
}

.shadow {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.preview img {
  display: block;
  width: 100%;
  height: 100%;
}











.item-info {
  padding-top: 1.5%;
  padding-left: 3.86%;
  flex-basis: 50%;
}

.item-info h2 {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 1.625em;
  margin-bottom: 4%;
}

.item-info p {
  font-family: "Times New Roman", serif;
  font-size: 0.95em;
  font-style: italic;
  margin-bottom: 5.32%;
  line-height: 1.8;
}

.item-price {
  display: block;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-size: 1.5625em;
  margin-bottom: 7.47%;
}

span:not(.item-price) {
  font-size: 0.75em;
  font-family: "Roboto Regular", Arial, sans-serif;
}

.sizes {
  display: flex;
  flex-direction: row;
}

.item-sizes {
  flex-basis: 55%;
  margin-bottom: 7%;
  margin-left: 11.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-sizes li {
  flex-basis: 28%;
  position: relative;
}

.item-sizes input, .item-colors input {
  opacity: 0;
}

.item-sizes span, .item-colors span {
  font-family: "OpenSans Bold", Arial, sans-serif;
  font-size: 0.875em;
  cursor: pointer;
  display: block;
  position: absolute;
  padding: 12% 21%;
}

.item-sizes span {
  bottom: -20%;
  left: -20%;
  padding: 17% 28%;
}

.checked {
  border: 1px solid #e5e5e5;
}

.colors {
  display: flex;
  flex-direction: row;
  margin-bottom: 10.51%;
}

.item-colors {
  flex-basis: 80%;
  margin-left: 12%;
  display: flex;
  flex-direction: row;
}

.item-colors li {
  flex-basis: 27%;
  position: relative;
}

.item-colors span {
  bottom: -45%;
  left: -20%;
}

button {
  padding: 3.5% 0;
  width: 50%;
  font-family: "OpenSans Semibold", Arial, sans-serif;
}




















.banner {
  border-right: 1px solid #e5e5e5;
  color: #fff;
}

.banner:last-of-type {
  border-right: none;
}
.banner:last-of-type h3 {
  color: #f14a58;
}

.banner:last-of-type span{
  color: #757575;
}

.banner span {
  color: #fff;
}

.banner h3 {
  margin-bottom: 8%;
}

.banner:first-of-type h3 {
  margin-bottom: 8%;
}

.banner:nth-of-type(2) h3 {
  margin-bottom: 4%;
}

.banner:last-of-type h3 {
  margin-bottom: 4%;
}

.banner-info {
  position: absolute;
  top: 73%;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
}

.banner:first-of-type .banner-info {
  transform: none;
  top: 16%;
  right: 10%;
  width: auto;
}
