@import "/css/common-styles.css";

img {
  display: block;
}

.item {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 12.3%;
}

.to-catalog {
  display: block;
  padding: 2.08% 6.92%;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 4.62%;
  cursor: pointer;
}
.to-catalog:hover {
  color: #f14a58;
}

article {
  padding: 0 4.62%;
  display: flex;
  flex-direction: row;
}

.item-photo {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.main-photo {
  width: 535px;
  height: 312px;
}

.preview {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.preview li {
  flex-basis: 33.31%;
  height: auto;
  width: 176px;
  position: relative;
}

.preview li img {
  width: 100%;
  height: 100%;
}

.shadow-img {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.item-info {
  padding-top: 1.5%;
  padding-left: 3.86%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.item-info h2 {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 1.625em;
  margin-bottom: 4%;
}

.item-info p {
  font-family: Crimson, serif;
  font-size: 1em;
  font-style: italic;
  margin-bottom: 5.32%;
  line-height: 1.8;
}

.item-info .item-price {
  display: block;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-size: 1.5625em;
  margin-bottom: 7.47%;
}

.item-info span {
  font-size: 0.75em;
  font-family: "Roboto Regular", Arial, sans-serif;
}

.sizes, .colors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 8%;
}

.sizes input, .colors input {
  opacity: 0;
}

.sizes span, .colors span {
  display: block;
  font-family: "Roboto Regular", sans-serif;
  font-size: 0.75em;
  margin-right: 47px;
}

.size-value label, .color-value label {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.875em;
  position: absolute;
  top: -62%;
  left: 0;
  padding: 7% 15%;
  cursor: pointer;
}

.size-value label:hover, .color-value label:hover {
  border: 1px solid #f14a58;
}

.sizes input[type="radio"]:checked + label,
.colors input[type="radio"]:checked + label{
  border: 1px solid #e5e5e5;
}

.size-value, .color-value{
  position: relative;
  flex-basis: 27%;
}

button a {
  width: 100%;
  height: 100%;
}

.banner:nth-of-type(3) h3 {
  color: #f14a58;
}

.banner:nth-of-type(1) span, .banner:nth-of-type(3) span {
  font-family: Crimson, serif;
  font-size: 1em;
}

.banner:nth-of-type(3) span{
  color: #757575;
}

.banner:nth-of-type(2) span{
  font-family: "Roboto Regular", serif;
  font-size: 0.875em;
  font-style: normal;
}

.banner span {
  color: #fff;
}

.banner h3 {
  margin-bottom: 8%;
  color: #fff;
}

.banner:not(:nth-of-type(1)) .banner-info {
  position: absolute;
  top: 73%;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
}

footer {
  border-top: none;
}
