@media screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    padding: 2.5% 9.15%;
    font-size: 1.25em;
  }

  .product-list {
    padding: 3.93% 5.23% 2%;
  }

  .wrap img {
    width: 144px;
    height: auto;
  }

  .product {
    margin-bottom: 14.4%;
  }

  .product-info {
    padding: 2.38% 0 0 7.3%;
  }

  .product-info .price {
    font-size: 1.17em;
  }

  .product-info .btn {
    width: 88%;
    font-size: 1.17em;
  }

  .product-info .color,
  .product-info .size {
    margin-bottom: 4%;
  }
  .product-info .amount {
    margin-bottom: 9%;
  }

  .shadow span {
    left: 12%;
  }

  .coupon-code {
    padding: 1.7% 0;
  }

  .bottom-info {
    margin: 0 5.23% 7.85%;
    padding: 4% 0 0;
  }

  .total-sum {
    flex-basis: 10%;
  }

  .total-sum input {
    font-size: 1em;
  }

  .coupon-code {
    font-size: 0.69em;
  }

  .btn {
    width: 42.5%;
  }

  /*for Firefox*/
  @-moz-document url-prefix() {
    .product {
      margin-bottom: 98px;
    }
    .product-info .price {
       margin-bottom: 20px;
     }
    .product-info .size,
    .product-info .color {
      margin-bottom: 4px;
    }
  }
}

@media screen and (max-width: 767px) {
  h2 {
    padding: 3.4% 9.4%;
  }

  .product-list {
    padding: 4% 5.35%;
  }

  .wrap {
    min-width: 160px;
    width: 48%;
  }

  .wrap img {
    width: 100%;
  }

  .shadow span {
    left: 15%;
  }

  .product {
    flex-basis: auto;
    margin-bottom: 12%;
  }

  .product-info {
    padding: 4.2% 0 0 7%;
    flex-basis: 38%;
  }

  .product-info .name {
    font-size: 1em;
    line-height: 1.65;
  }

  .product-info .price {
    font-size: 1.17em;
  }

  .product-info .color,
  .product-info .size,
  .product-info .amount {
    font-size: 0.84em;
  }

  .product-info .btn {
    width: auto;
  }

  .product-info span {
    margin-bottom: 6%;
  }

  .coupon-code {
    padding: 4% 5.63%;
    font-size: 0.625em;
  }

  .bottom-info {
    padding: 0 0 0 0;
    margin: 5.35% 5.35% 9.35%;
  }

  .btn.buy {
    width: 42%;
    font-size: 1.125em;
    margin-right: 7%;
  }

  .clear.btn {
    font-size: 0.625em;
  }

  .total-sum {
    flex-basis: 20%;
  }

  /*for Firefox*/
  @-moz-document url-prefix() {
    .product {
      margin-bottom: 40px;
    }
    .product-info .price {
      margin-bottom: 25px;
    }
    .product-info .size,
    .product-info .color {
      margin-bottom: 4px;
    }
    .product-info .amount {
      margin-bottom: 17px;
    }
  }
}

/*for IE11*/

@media all  and (max-width: 767px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .product {
    flex-basis: 85%;
  }
}
