@media all and (min-width: 768px) and (max-width: 1024px) {
  .slider-images:after {
    padding-top: 75.4%;
  }
  .prev, .next {
    display: none;
  }
  .radio-commands {
    height: 13.27%;
  }
  .radio-commands .middle {
    width: 8.5%;
  }
  h2 {
    font-size: 2.5em;
    margin-bottom: 11.1%;
  }
  .banners {
    height: auto;
    margin-bottom: 17%;
  }
  .list-items {
    margin-bottom: 11.76%;
  }
  .list-items li:nth-of-type(4) {
    display: none;
  }
  .list-items img {
    margin-bottom: 22%;
    height: 69%;
  }
  .btn {
    width: 39.17%;
    height: 70px;
  }
  .catalog {
    margin-bottom: 18.02%;
  }
}

@media all and (max-width: 767px){
  .slider-images {
    min-height: 475px;
  }
  .slider-images .link {
    height: 475px;
  }
  .slider-images img {
    height: 100%;
    object-fit: cover;
  }
  .radio-commands {
     height: 11.6%;
     display: flex;
     z-index: 5;
     padding: 0;
   }
  .radio-commands .middle {
    align-items: center;
    width: 24%;
  }
  .banners {
    margin-bottom: 16.6%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
  .banner{
    border: none;
  }
  .banner:nth-of-type(2) {
    display: none;
  }
  .banner img {
    min-height: 238px;
  }
  .banner-info {
    top: 13%;
  }
  .banner-info h3 {
    font-size: 1.375em;
    margin-bottom: 8.4%;
  }
  .banner-info span {
    font-size: 0.875em;
  }
  h2 {
    font-size: 1.625em;
    margin-bottom: 13.35%;
  }
  .list-items {
    padding: 0 4.9%;
    margin-bottom: 18.7%;
  }
  .list-items li {
    flex-basis: 47%;
  }
  .list-items li:nth-of-type(n + 3) {
    display: none;
  }
  .list-items li span {
     padding: 0 6%;
   }
  .list-items img {
    margin-bottom: 20.8%;
  }
  .catalog {
    margin-bottom: 28.3%;
  }
  .btn {
    width: 58.4%;
    font-size: 1.125em;
  }
}
