@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 0 5.23%;
  }
  .top {
    padding-top: 4.94%;
  }
  .logo {
    margin-bottom: 3.75%;
  }
  .right-block {
    flex-basis: 37%;
  }
  .wrap-nav {
    margin-bottom: 3.5%;
  }
  .nav {
    margin-right: 0;
    flex-basis: 89%;
    -ms-flex: 1 0 89%;
  }
  .search {
    width: 1px;
    height: 15px;
  }
  .search-input {
    display: none;
  }
  .activeSearch {
    display: block;
    position: absolute;
    left: -206px;
    z-index: 5;
    padding-bottom: 8px;
    padding-top: 4px;
    width: 207px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    outline: none;
    font-size: 0.75em;

    -webkit-box-shadow: -8px 0 10px 2px rgba(255,255,255,1);
    -moz-box-shadow: -8px 0 10px 2px rgba(255,255,255,1);
    box-shadow: -8px 0 10px 2px rgba(255,255,255,1);
  }
  .activeSearch::-moz-placeholder {
    color: #a8a8a8;
  }
  .activeSearch::-webkit-input-placeholder {
    font-family: "OpenSans Bold", sans-serif;
  }
  .activeSearch:-moz-placeholder {
    color: #a8a8a8;
  }
  .glass-icon {
    top: 32%;
  }
  .banners{
    height: 32.55%;
  }
  .banner {
    height: 255px;
  }
  .banner img {
    object-fit: cover;
  }
  .banner:first-of-type {
    flex-basis: 71%;
  }
  .banner:last-of-type {
    flex-basis: 35%;
  }
  .banner-info {
    right: 12%;
  }
  .banner-info h3 {
    font-size: 22px;
  }
  .list-items {
    padding: 0 5.4%;
  }
  .list-items li {
    flex-basis: 29.28%;
  }
  .catalog {
    margin-bottom: 10.22%;
  }
  .btn {
    font-size: 1.25em;
    height: 70px;
    width: 34.8%;
  }
  .socials p {
    display: none;
  }
  .quick-links {
    flex-basis: 56%;
    border-right: none;
    padding: 7.05% 0 12.8% 5.23%;
  }
  .quick-links h4 {
    margin-bottom: 26.27%;
  }
  .quick-links li {
    margin-bottom: 13%;
  }
  .right-ref-block {
    margin-right: 8%;
  }
  .socials {
    flex-basis: 25%;
    padding-top: 7.05%;
    -ms-flex: 1 0 25%;
  }
  .socials ul {
    flex-direction: column;
    margin-bottom: 33%;
    -ms-flex-direction: column;
  }
  .socials ul li {
    margin-bottom: 18.3%;
  }
  .socials h4 {
    margin-bottom: 10.4%;
  }
  .copyright {
    padding: 4.3% 5.23%;
  }
  .copyright .center {
    margin-left: 0;
    top: 37.5%;
  }
  .copyright .center h4 {
    font-size: 1em;
  }
  .legal-ref {
    flex-basis: 32%;
  }
  .block-mobile {
    display: none;
  }
  .social-ref .facebook {
    flex-basis: 14.32%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    min-width: 375px;
  }
  .btn {
    width: 61.8%;
    height: 60px;
  }
  .header {
    padding: 0;
    height: 70px;
  }
  .top {
    padding: 0 5.35%;
  }
  .sign-up, .prev, .next, nav, .search {
    display: none;
  }
  .logo {
    width: 28px;
    height: 18px;
    margin-top: 25px;
  }
  .logo .link {
    background: url(/img/startPage/logo-mobile.png) 0 0 no-repeat;
    width: 28px;
    height: 18px;
  }
  .right-block {
    margin-top: 27px;
    margin-left: 29%;
  }
  .wrap-nav {
    display: none;
    padding: 7.76% 5.56% 8.32%;
    margin-bottom: 0;
  }
  .wrap-nav-active {
    display: flex;
    padding-top: 9.1%;
    flex-direction: column;
    padding-bottom: 6.7%;
    position: absolute;
    top: 9%;
    left: 0;
    z-index: 20;
    background-color: #fff;
    width: 88.6%;
  }
  .wrap-nav-active nav {
    display: flex;
    flex-direction: column;
  }
  .wrap-nav-active .nav .link {
    margin-bottom: 22.1%;
    font-size: 1.5em;
  }
  .wrap-nav-active .search {
    display: block;
    width: 51%;
  }
  .wrap-nav-active .search input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 6%;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 0.875em;
    outline: none;
  }
  .glass-icon {
    bottom: 46%;
  }
  .nav-exit {
    display: block;
    color: #f14a58;
    height: 15px;
    width: 15px;
    font-size: 1.2em;
    padding-top: 6.5%;
    padding-bottom: 7.9%;
    padding-left: 6%;
    border-left: 1px solid transparent;
  }
  .hamburger {
    display: block;
    background: url(/img/startPage/hamburger-menu-icon.png) 90% 50% no-repeat;
    width: 14px;
    height: 12px;
    border-left: 1px solid #e5e5e5;
    padding-left: 4%;
    padding-right: 15px;
    padding-top: 59px;
    cursor: pointer;
  }
  .hamburger-active {
    display: block;
    background: url(/img/startPage/exit-icon.png) 90% 50% no-repeat;
    width: 15px;
    height: 15px;
    border-left: none;
    padding-top: 29px;
    cursor: pointer;
  }
  .active-menu {
    color: #f14a58;
    width: 15px;
    height: 15px;
    font-size: 1.2em;
    padding-top: 6.5%;
    padding-bottom: 7.9%;
    padding-left: 6%;
  }
  .banners {
    height: 66.2%;
  }
  .banner:nth-of-type(n + 2) {
    display: none;
  }
  .banner-info {
    top: 10.67%;
    right: 11.47%;
  }
  .banner-info h3 {
    font-size: 20px;
  }
  .banner-info span {
    font-size: 0.875em;
  }
  .promo-block .prev, .promo-block .next {
    top: 32%;
  }
  .banners {
    height: 66.2%;
  }
  .banner:nth-of-type(n + 2) {
    display: none;
  }
  .banner-info {
    top: 10.67%;
    right: 11.47%;
  }
  .banner-info h3 {
    font-size: 20px;
  }
  .banner-info span {
    font-size: 0.875em;
  }
  .footer-main-block {
    flex-direction: column;
    -ms-flex-direction: column;
  }
  .quick-links {
    border-bottom: 1px solid #e5e5e5;
    border-right: none;
    padding: 9.78% 0 17% 5.35%;
  }
  .quick-links li {
    margin-bottom: 16%;
  }
  .quick-links h4 {
    font-size: 0.875em;
  }
  .quick-links .link {
    font-size: 0.858em;
  }
  .socials {
    padding: 0;
    border-right: none;
  }
  .socials p {
    display: none;
  }
  .socials ul {
    border-right: none;
    border-top: none;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .socials ul li {
    padding: 6.5% 6.93% 10% 5.87%;
  }
  .socials ul li:first-of-type {
    border-right: 1px solid #e5e5e5;
  }
  .socials li:last-of-type {
    padding-right: 0;
  }
  .socials h4 {
    font-size: 0.875em
  }
  .socials .tweet-us {
    font-size: 0.75em;
  }
  .socials .order-by-phone{
    font-size: 0.75em;
  }
  .copyright {
    padding: 8.5% 5.6% 9.5%;
  }
  .copyright span, .legal-ref li {
    font-size: 0.625em;
  }
  .copyright .center {
    top: 32%;
    left: 86%;
  }
  .center h4 {
    font-size: 0.875em;
  }
  .copyright .amount-visitors:before {
    top: 3px;
  }
  .social-ref {
    display: none;
  }
  .mobile {
    display: flex;
    flex-basis: 15.35%;
    display: -ms-flexbox;
    -ms-flex: 1 0 15.35%;
  }
  .block-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6.7% 5.33%;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
  }
  .social-ref .facebook {
    flex-basis: 67.3%;
    -ms-flex: 1 0 67.3%;
  }
  .legal-ref {
    flex-basis: 54%;
    -ms-flex: 1 0 54%;
  }
  .copyright .legal-ref {
    display: none;
  }
  .right-ref-block {
    flex-basis: 35%;
    -ms-flex: 1 0 35%;
  }
}
