@media screen and (min-width: 768px) and (max-width: 1024px) {
  .back-to-catalog-block {
    padding: 3.27% 5.23%;
  }
  .to-catalog {
    width: 21%;
    margin-left: 4.3%;
  }
  .article{
    padding: 3.93% 5.2% 18.3%;
    flex-direction: column;
  }
  .item-photo {
    flex-direction: row;
  }
  .main-photo {
    min-width: 516px;
    height: 344px;
  }
  .preview {
    flex-direction: column;
  }
  .preview li {
    width: 173px;
  }
  .item-info {
    padding: 3.65% 0 0;
    text-align: center;
  }
  .item-info h2 {
    margin-bottom: 4.38%;
    order: 1;
  }
  .item-info .item-price {
    margin-bottom: 4%;
    order: 2;
  }
  .item-info p {
    padding: 0 18%;
    font-size: 0.875em;
    margin-bottom: 6.44%;
    order: 3;
  }
  .item-info a {
    order: 6;
  }
  .sizes {
    order: 4;
    margin-left: 27%;
  }
  .colors {
    margin: 0 0 15% 35%;
    order: 5;
  }
  .size-value {
    flex-basis: 20%;
  }
  .color-value {
    flex-basis: 21%;
  }
  .size-value span, .color-value span {
    padding: 10% 18%;
  }
  .sizes span, .colors span {
    margin-right: 0;
  }
  .btn {
    width: 38%;
  }
  .banners {
    margin-bottom: 0;
  }
  .banner:first-of-type {
    flex-basis: 86%;
  }
  .banner:first-child .banner-info {
    top: 8%;
  }
  .banner:nth-of-type(2) {
    border-right: none;
  }
  .banner:last-of-type{
    display: none;
  }

  /*for Firefox*/
  @-moz-document url-prefix() {
    .right-block {
      flex-basis: 40%;
    }
    .item-info {
      padding-top: 25px;
    }
    .item-info h2 {
      margin-bottom: 30px;
    }
    .item-info .item-price {
      margin-bottom: 27px;
    }
    .item-info p {
      margin-bottom: 44px;
    }
    .sizes {
      margin-bottom: 40px;
    }
    .colors {
      margin-bottom: 100px;
    }
    .banner:first-of-type {
      flex-basis: 68.2%;
    }
    .banner:nth-of-type(2) {
      flex-basis: 31.8%;
    }
  }
}

@media screen and (max-width: 767px) {
  .back-to-catalog-block {
    padding: 5.6% 5.35%;
  }
  .to-catalog {
    font-size: 0.75em;
    width: 32%;
  }
  .article{
    padding: 4% 5.36% 26.7%;
    flex-direction: column;
  }
  .item-photo {
     margin-bottom: 15%;
  }
  .main-photo {
    height: 223px;
  }
  .item-info {
    text-align: center;
    padding: 0;
  }
  .item-info h2 {
    margin-bottom: 9.5%;
    order: 1;
  }
  .item-info .description {
    font-size: 0.875em;
    margin-bottom: 11.7%;
    line-height: 2;
    order: 3;
  }
  .item-info .item-price {
    font-size: 1.125em;
    margin-bottom: 9.5%;
    order: 2;
  }
  .item-info a {
    order: 6;
  }
  .sizes{
    margin-bottom: 11%;
    order: 4;
  }
  .colors {
    margin-bottom: 20%;
  }
  .colors {
    order: 5;
  }
  .sizes span {
    margin-right: 1.4%;
  }
  .colors span {
    margin-right: 0;
  }
  .btn {
    width: 66%;
  }
  .size-value label, .color-value label {
    padding: 7px 11px;
  }
  .banner {
    min-height: 235px;
    width: 100%;
  }

  /*for Firefox*/
  @-moz-document url-prefix() {
    .right-block {
      flex-basis: 64%;
      margin-left: 0;
      margin-top: 28px;
    }
    .item-info {
      padding-top: 50px;
    }
    .item-info h2 {
      margin-bottom: 32px;
    }
    .item-info .item-price {
      margin-bottom: 32px;
    }
    .item-info .description {
      margin-bottom: 40px;
    }
    .sizes {
      margin-bottom: 37px;
    }
    .colors {
      margin-bottom: 67px;
    }
  }
}

/*for IE11*/
@media all and (min-width: 768px) and (max-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .search {
    -ms-flex: 1 0 10%;
  }
  .article {
    height: 817px;
  }
  .preview li {
    height: 114.4px;
    flex-basis: auto;
  }
  .item-photo {
    flex-basis: auto;
  }
  .banner:first-of-type {
    flex-basis: 68.2%;
  }
  .banner:nth-of-type(2) {
    flex-basis: 31.8%;
  }
}

@media all  and (max-width: 767px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .article {
    height: 782px;
  }
  .item-photo {
    flex-basis: auto;
  }
}
