@import "/css/reset.css";
@import "/fonts/fonts.css";
@import "/css/common-styles.css";

h2 {
  font-family: "OpenSans Bold", Arial, sans-serif;
  font-size: 1.625em;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 1.62% 7%;
}

.product-list {
  padding: 2.31% 4.62%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  margin-bottom: 7.65%;
}

.product-info {
  font-family: "Roboto Regular", sans-serif;
  font-size: 0.75em;
  padding: 2.38% 0 0 4.41%;
  text-transform: capitalize;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
}

.product-info .name {
  font-family: "Roboto Bold", sans-serif;
  font-size: 1.17em;
  margin-bottom: 7.5%;
}

.product-info .price {
  font-family: "Roboto Bold", sans-serif;
  font-size: 1.39em;
  margin-bottom: 20%;
}

.product-info .color, .size, .amount{
  margin-bottom: 4%;
}

.product-info .amount {
  margin-bottom: 14%;
}

.product-info .btn {
  color: #f14a58;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 1em;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 55%;
  height: auto;
}
.product-info .btn:hover {
  text-decoration: underline;
}

.coupon-code {
  border-top: 1px solid #e5e5e5;
  padding: 0.97% 0;
  background-color: #f7f7f7;
  text-align: center;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.75em;
}

.coupon-code span {
  color: #f27881;
}

.bottom-info {
  margin: 0 4.62% 2.31%;
  padding: 2.31%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear.btn {
  font-family: "Roboto Bold", sans-serif;
  font-size: 0.8125em;
  padding:0;
  border: none;
  margin: 0;
  width: auto;
  height: auto;
}
.clear.btn:hover {
  border: none;
  color: #f14a58;
}

.btn {
  width: 30.4%;
}

.total-sum {
  flex-basis: 7.5%;
  text-align: right;
}

.total-sum span {
  font-family: "Roboto Regular", sans-serif;
  font-size: 0.75em;
  font-weight: normal;
}

.total-sum span:nth-of-type(2){
  display: block;
  border: none;
  font-weight: bold;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 1.125em;
  width: 100%;
}

.message {
  font-size: 1.4em;
  color: #757575;
  margin: 0 auto;
  transition: color 5s linear 15s;
}

.wrap {
  margin-bottom: 0;
}

.wrap img {
  vertical-align: top;
}

.added-img {
  object-fit: cover;
  width: 240px;
  height: 340px;
}

.changeColor {
  color: red;
}

@-moz-document url-prefix() {
  .product {
    margin-bottom: 90px;
  }
}
