@import "/css/reset.css";
@import "/fonts/fonts.css";
@import "/css/common-styles.css";

.promo-block {
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
  position: relative;
}

.prev, .next {
  display: block;
  background-color: #f14a58;
  height: 110px;
  width: 35px;
  position: absolute;
  top: 38%;
  z-index: 10;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev span{
  background: url(/img/startPage/promo/left.jpg) 0 0 no-repeat;
  width: 14px;
  height: 24px;
  z-index: 11;
  position: absolute;
  top: 38%;
  transform: translateX(-50%);
  left: 50%;
}

.next span {
  background: url(/img/startPage/promo/right.jpg) 0 0 no-repeat;
  width: 14px;
  height: 24px;
  z-index: 11;
  position: absolute;
  top: 38%;
  transform: translateX(-50%);
  left: 50%;
}

.slider-images {
  width: 100%;
}

.slider-images:after{
  content: '';
  display: block;
  padding-top: 65.4%;
}

.slider-images .link {
  width: 100%;
  max-height: 850px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 1s linear;
  opacity: 0;
}

.slider-images img {
  display: block;
  height: auto;
  width: 100%;
}

.slider-images .active {
  display: block;
  opacity: 1;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s linear;
}

.radio-commands {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
  height: 9.41%;
  width: 100%;
  z-index: 15;
}

.radio-commands .middle {
  margin: 0 auto;
  align-items: center;
  width: 10%;
  display: flex;
  justify-content: space-between;
  /*for IE*/
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  -ms-flex-direction: row;
}

.radio-commands a {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #d2d2d2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.radio-commands .active-radio {
  background-color: #f14a58;
}

.banners {
  margin-bottom: 11.16%;
}

.banner span {
  color: #757575;
}

h2 {
  font-size: 3.125em;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7.7%;
  font-family: "OpenSans Bold", sans-serif;
}

.catalog {
  margin-bottom: 6.16%;
}

.btn {
  width: 26.16%;
}
.list-items {
  margin-bottom: 7.7%;
}

.list-items img {
  height: auto;
  margin-bottom: 20.85%;
}
